@{
    ViewData["Title"] = "Nutricion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<br>
<br>
<br>
<!-- banner central section start -->
            <div class="banner_section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="banner_taital">Nutricion 01 <br><span style="color: #151515;">Rutinas distintas</span></h1>
                            <p class="banner_text">There are many variations of passages of Lorem Ipsum</p>
                            <p>Hacemos rutinas distintas para diferentes resultados que las personas quieran ver resultados en su cuerpo, 
                            dependiendo de como se quiere ver la persona o si la persona es un atleta en otra diciplina podremos hacer una rutina especifica para aumentar esos atributos que tanto deseas, 
                            todas nuestras rutinas al final se centran en poder aumentar la habilidad física de la persona y 
                            esto implicara en la mentalidad de nuestro cliente no solamente encontramos resultados físicos con una rutina si no también mentales a la hora de tener la diciplina de seguir un numero de ejercicios  por un lapso de tiempo.        </p>
                        </div>
                        <div class="col-md-6">
                            <div class="image_1"><img src="./images/nutricion01.jpg"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner_section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="banner_taital">Nutricion 02 <br><span style="color: #151515;">Coma los alimentos correctos:</span></h1>
                            <p class="banner_text">There are many variations of passages of Lorem Ipsum</p>
                            <p>¿Cuáles son los alimentos correctos? Los alimentos mínimamente procesados son los mejores para la nutrición deportiva y de levantamiento de pesas. Las proteínas magras, los carbohidratos complejos y la fibra son tus mejores amigos, especialmente si estás tratando de perder peso. Su cuerpo necesita proteínas magras como pavo, yogur griego sin grasa, pescado y claras de huevo para desarrollar músculo y mantenerse lleno. Los carbohidratos complejos, como los vegetales de hojas verdes, le dan energía para quemar y la fibra lo llena y mantiene su sistema digestivo y sus hormonas alineadas. Las grasas deben ser grasas monosaturadas saludables, como el aceite de oliva, o de origen vegetal. rico en ácidos grasos omega-3. Nueces, semillas de lino y aceites similares, nueces y semillas proporcionan grasas saludables.</p>
                        </div>
                        <div class="col-md-6">
                            <div class="image_1"><img src="./images/nutricion02.jpg"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner_section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="banner_taital">Nutricion 03 <br><span style="color: #151515;">Mantenga un diario de alimentos:</span></h1>
                            <p class="banner_text">There are many variations of passages of Lorem Ipsum</p>
                            <p>diario de alimentos puede ayudarlo a realizar un seguimiento no solo de lo que come, sino también de cuánto, cuándo y dónde lo comió. Dedique solo un día a escribir qué y cuánto come, y cómo se siente después. ¡Sin trampas! Sume el total de calorías al día siguiente. Es posible que se sorprenda de la cantidad de calorías que consumió. </p>
                        </div>
                        <div class="col-md-6">
                            <div class="image_1"><img src="./images/nutricion03.jpg"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner_section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="banner_taital">Suplementos adecuados <br><span style="color: #151515;">Tenemos de todo para nutrir tu salud</span></h1>
                            <p class="banner_text">There are many variations of passages of Lorem Ipsum</p>
                            <h2>Aceites de Pescado</h2>
                            <p>Estos ácidos grasos tienen propiedades antiinflamatorias y también son potentes antioxidantes.

Eso es importante porque el ejercicio pesado induce una respuesta inflamatoria. Mientras que algo de inflamación es deseable, demasiada puede retrasar la recuperación de los músculos del ejercicio.
</p>
<h2>Ácido linoleico conjugado (CLA)</h2>
<p>Provoca cambios en la composición corporal, incluidas reducciones en la masa grasa y un aumento en la masa corporal magra.</p>
                        </div>
                        <div class="col-md-6">
                            <div class="image_1"><img src="./images/suplementos.jpg"></div>
                        </div>
                    </div>
                </div>
            </div>
<!-- banner centralsection end -->
<br>
<br>